@import '../theme.scss';

.signup-wrapper {
  @include flex-center;
  font-family: 'BMDOHYEON', sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 20%;
  flex-direction: column;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 40rem;
  margin: 0 auto;
  box-shadow: $shadow;
  border-radius: 1rem;

  h2 {
    margin-bottom: 3rem;
  }

  .auth-input-control {
    position: relative;
    display: grid;
    grid-template-columns: 9rem auto;
    margin-bottom: 1rem;
    .auth-input-label {
      align-self: center;
    }
    .auth-input-field {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1;
      height: auto;
      padding: 1rem 1.75rem;
      border: 0.25rem solid rgba(0, 0, 0, 0);
      border-radius: 2rem;
      outline: none;
      background-color: #f1f5f9;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    .auth-input-field:focus {
      border-color: $primary1;
    }
  }
  button {
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
    padding: 1rem 0rem;
    font-weight: bold;
    color: $title-active;
    background-color: $primary3;
    border: 3px solid transparent;
    border-radius: 2rem;
  }

  // .auth-submit-button:disabled {
  //   background-color: ;
  // }
}
